<h1> Student 데이터 삽입</h1>

<form name="student" method="post" action='/'>
    <div>
        <label for="s_id">s_id</label>
        <input id="s_id" name="s_id" type="text" required placeholder="S_id">
    </div>
    <div>
        <label for="sname">Sname</label>
        <input id="sname" name="sname" type="text" required placeholder="Sname">
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="text" required placeholder="Email">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" required placeholder="Phone">
    </div>
    <div>
        <label for="major">Major</label>
        <input id="major" name="major" type="text" required placeholder="Major">
    </div>
    <div>
        <label for="student_id">Student_id</label>
        <input id="student_id" name="student_id" type="text" required placeholder="Student_id">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>


