body {
  height: 100vh;
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.header {
  display: flex;
  margin-top: 16px;
  margin-left: 16px;
  flex-direction: row;
  margin-bottom: 16px;
  align-items: end;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-info {
  margin-left: 10px;
  height: 50px;
  margin-bottom: 30px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
}

.header-info_title {
  font-size: 22px;
  font-weight: bolder;
}

.header-info_explain {
  font-size: 18px;
  font-weight: bold;
  padding: 2px;
  border: #f7d6ff solid 5px !important;
}



img {
  max-width: 112px;
}

.logo-text {
  font-size: 24px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000000;
  font-weight: bolder;
  margin-left: 4px;
  margin-bottom: 5px;
}

.side {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  border-right: #e5e5e5 solid 1px;
}

.side-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side-frame_id {
  display: flex;
  width: 234px;
  height: 60px;
  padding: 8px;
  flex-direction: row;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: space-between;
}

.userinfo {
  margin-left: 16px;
}

.logout {
  height: 52px;
}

.side-menu_list {
  margin-top: 8px;
  border-bottom: #e5e5e5 solid 1px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.side-menu_list:hover {
  background-color: #f7d6ff;
  color: black;
}

.main {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-top_table {
  margin-top: 8px;
  margin-right: 10px;
}

.main-top_table > h1 {
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 20px; font-weight: bold
}

.main-top_title {
  color: #666;
}


table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}
th, td {
  align-items: center;
  justify-content: center;
  border: #97bbda solid 1px !important;
  padding: 10px;
}
tr:first-child{
  background-color: #f7d6ff;
  color:#000000
}
.main-top_table_head_first {
  width: 40%;
  color: white;
}

.main-top_table_head_second {
  width: 60%;
  color: white;
}

.main-top_table_body_first {
  font-size: 13px;
  padding-left: 4px;
  width: 40%;
  color: #666;
  display: flex;
  justify-content: start;
}

.main-top_table_body_second {
  font-size: 13px;
  padding-left: 4px;
  width: 60%;
  color: #666;
  display: flex;
  justify-content: start;
}

input {
  width: 100px;
}